/bootstrap/compiled.php
/bootstrap/environment.php
/vendor
/app/assets/components
/app/database/maxmind
/app/storage/clockwork
/app/storage/debugbar
/app/templates
/public/js
/public/css
/public/packages
/public/assets
/node_modules
/tmp
.tmp
.sass-cache
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
_ide_helper.php
.idea
