
/** General page styling **/
html {
  background-color: #e5e5e5;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: #f1f1f1;
  color:#222;
}

.site-header {
  h2 {
    margin:40px 0;
  }
}

.site {
  display: none;
  .info {
    display: none;
    p {
      font-size:20px!important;
    }
  }
}

article {
  margin-bottom: 60px;
  padding-bottom: -60px;
}

.disqus {
  margin-top:20px;
}

#footer {
  margin-top:40px;
}
